Exp 4: Study of Set in Python

Name: Vivek Reddy

PRN: 25070123135

In [1]:
thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [2]:
thisset={"apple","banana","cherry"}
# print(thisset[1])  # set is not subscriptable

In [3]:
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [4]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{'cherry', True, 2, 'banana', 'apple'}

In [5]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)
print("Grapes" in thisset)

True
False

In [6]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [7]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

## Set Operations

In [8]:
A={1,2,3,4}
B={3,4,5,6}
print("union:",A|B)
print("intersection:",A&B)
print("Difference1:",A-B)
print("Difference2:",B-A)
print("symmetric difference:",A^B)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
symmetric difference: {1, 2, 5, 6}

## Frozenset

In [9]:
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

In [10]:
studentlist={"a","b","c","d","b","c"}
studentlist=set(studentlist)
print(studentlist)

{'a', 'b', 'd', 'c'}

In [11]:
x={"Maths","Physics","Chemistry"}
y={"Biology","Physics","Chemistry"}
z={"Maths","Biology","Chemistry"}
print(x & y & z)

{'Chemistry'}

In [12]:
cricket={"Vivek","Yuvraj","Niyant"}
football={"Vivek","Glen","Vrishin"}
print(cricket & football)
print(cricket ^ football)

{'Vivek'}
{'Glen', 'Yuvraj', 'Vrishin', 'Niyant'}

In [13]:
all_students={"Vivek","Khush","Harshit","Kshitij","Niyant","Yuvraj"}
present_students={"Vivek","Khush","Niyant"}
print(all_students-present_students)

{'Harshit', 'Kshitij', 'Yuvraj'}

In [14]:
course={"ETC101","ETC102","ETC103"}
course.discard("ETC102")
print(course)

{'ETC101', 'ETC103'}