# Exp 4: Study of Set in Python

**Name:** Vishvam Delwadiya

**PRN:** 25070123124

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset)

In [ ]:
thisset={"apple","banana","cherry"}
# print(thisset[1])  # set is not subscriptable

In [ ]:
thisset={"apple","banana","cherry","apple"}
print(thisset)

In [ ]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

In [ ]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)
print("Grapes" in thisset)

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

In [ ]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

## Set Operations

In [ ]:
A={1,2,3,4}
B={3,4,5,6}
print("union:",A|B)
print("intersection:",A&B)
print("Difference1:",A-B)
print("Difference2:",B-A)
print("symmetric difference:",A^B)

## Frozenset

In [ ]:
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

In [ ]:
studentlist={"a","b","c","d","b","c"}
studentlist=set(studentlist)
print(studentlist)

In [ ]:
x={"Maths","Physics","Chemistry"}
y={"Biology","Physics","Chemistry"}
z={"Maths","Biology","Chemistry"}
print(x & y & z)

In [ ]:
cricket={"Vishvam","Yuvraj","Niyant"}
football={"Vishvam","Glen","Vrishin"}
print(cricket & football)
print(cricket ^ football)

In [ ]:
all_students={"Vishvam","Khush","Harshit","Kshitij","Niyant","Yuvraj"}
present_students={"Vishvam","Khush","Niyant"}
print(all_students-present_students)

In [ ]:
course={"ETC101","ETC102","ETC103"}
course.discard("ETC102")
print(course)